<div class="max-w-lg m-auto px-4">
    <h1 class="text-3xl mt-10"> Add an service</h1>
    <p class="text-lg text-grey-darker mb-y">
        Offer an amazing service by filling the informations below.
    </p>
    <%= render 'form', service: @service %>
</div>
